.layer path {
  fill: #760B10;
  stroke: #FFDFA6;
  fill-opacity: .7;
}

#inner svg {
  height: 30em;
  border-bottom-style:solid;
  border-bottom-width:10px;
  border-bottom-color:#b52127;
  border-top-style:solid;
  border-top-width:10px;
  border-top-color:#b52127;
}