<div>
	<div id="name" class="strip"></div>
	<div>
		<div class="container top">
			<div class="span-7 top">
				<div class="strip"></div>
				<h2 id="instructions">
					scroll or drag the map to generate your random geojson
				</h2>
			</div>
			<div class="span-2 top" ></div>
			<div class="span-15 last top">
				<h1>
					GEOIPSUM
				</h1>
				<h2>
					&nbsp; lorem ipsum for the geonerds
				</h2>
			</div>
		</div>
	</div>
	<div id="inner">
		<img class="arrow" src="/images/red_point.png"> <%= javascript_include_tag 'geoipsum' %>
	</div>
	<div id="name">
		<div class="container">
			<br>
			<div class="span-1">
				<br>
			</div>
			<div class="span-7">
				<h2 id="geolink"></h2>
			</div>
			<div class="span-9">
				<br>
			</div>
			<div class="span-6 last">
				<h2>
					<a href="http://craigmmills.com/geoipsum">Blog</a> <a href="https://github.com/craigmmills/geoipsum">Code</a> <a href="http://twitter.com/craigmmills">Follow</a>
				</h2>
			</div>
		</div>
	</div>
</div>
